<div class="container">
    <!-- HERO -->
    <div class="heroDiv">
        <img src="../../images/2.png" alt="" class="img-fluid mt-3 hero">
    </div>

    <!-- Delicious Pizza Heading START -->
    <div class="pizza mt-3">
        <h4 class="text-center">
            <img src="../../images/pzIcon.png" alt="" class="img-fluid" style="width: 30px;">
            <span class="heading">Delicious Pizza</span>
        </h4>
        <!-- Delicious Pizza Heading END -->

        <!-- Pizza panel start -->
        <div class="row">
            <% for(let i = 0; i <= 3; i+=2) {%>
            <span class="text-center col-lg-6">
                <!-- Pizza panel first row start -->
                <div class="row">
                    <div class="col-6 py-2">
                        <a href="/find/<%= data[0].pizza[i].pr_id %>">
                            <div class="text-center itemCard" name="<%=i%>"                                >

                                <img class="my-2 cardImg cardImg<%=i%>"
                                    src="../../products/images/pizza/<%= data[0].pizza[i].pr_img %>">

                                <h6 style="height: 30px"><%= data[0].pizza[i].pr_name %></h6>

                                <p class="text-muted" style="font-size: 12px; height: 60px">
                                    <%= data[0].pizza[i].pr_info %>
                                </p>

                                <table class="w-100">
                                    <thead>
                                        <tr>
                                            <th>Reg</th>
                                            <th>Med</th>
                                            <th>Lrg</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>₹<%= data[0].pizza[i].pr_price.size_reg %></td>
                                            <td>₹<%= data[0].pizza[i].pr_price.size_med %></td>
                                            <td>₹<%= data[0].pizza[i].pr_price.size_lrg %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </a>
                    </div>
                    <!-- Pizza panel first row end -->

                    <!-- Pizza panel second row start -->
                    <div class="col-6 py-2">
                        <a href="/find/<%= data[0].pizza[i+1].pr_id %>">
                            <div class="text-center itemCard" name="<%=i+1%>"                                >

                                <img class="my-2 cardImg cardImg<%=i+1%>"
                                    src="../../products/images/pizza/<%= data[0].pizza[i+1].pr_img %>">


                                <h6 style="height: 30px"><%= data[0].pizza[i+1].pr_name %></h6>
                                <p class="text-muted" style="font-size: 12px; height: 60px">
                                    <%= data[0].pizza[i+1].pr_info %></p>
                                <table class="w-100">
                                    <thead>
                                        <tr>
                                            <th>Reg</th>
                                            <th>Med</th>
                                            <th>Lrg</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>₹<%= data[0].pizza[i+1].pr_price.size_reg %></td>
                                            <td>₹<%= data[0].pizza[i+1].pr_price.size_med %></td>
                                            <td>₹<%= data[0].pizza[i+1].pr_price.size_lrg %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </a>
                    </div>
                    <!-- Pizza panel second row end -->
                </div>
            </span>
            <%}%>    
    </div>
    <!-- Pizza panel end-->
    </div>
    <!-- Burgers panel start  -->
    <div class="burgers mt-3">
        <h4 class="text-center">                
            <img src="../../images/bgrIcon.png" class="img-fluid" style="width: 30px;">
            <span class="heading">Crispy Burgers</span>
            </h4>
            <!-- Crispy Burgers Heading END -->

            <!-- Burgers panel start -->
            <div class="row">
                <% for(let i = 0,j=1; i <= 3; i+=2,j+=2) {%>
            <span class="text-center col-lg-6">
                <!-- Burgers panel first row start -->
                <div class="row">
                    <div class="col-6 py-2">
                        <a href="/find/<%= data[1].burgers[i].pr_id %>">
                            <div class="text-center itemCard" name="<%=4*(j)%>"                                >

                                <img class="my-2 cardImg cardImg<%=i%>"
                                    src="../../products/images/burgers/<%= data[1].burgers[i].pr_img %>">

                                <h6 style="height: 20px"><%= data[1].burgers[i].pr_name %></h6>
                                <p class="text-muted" style="font-size: 12px; height: 30px">
                                    <%= data[1].burgers[i].pr_info %></p>
                                <p> <strong>Price: </strong>₹<%= data[1].burgers[i].pr_price%> </p>
                            </div>
                        </a>
                    </div>
                    <!-- burgers panel first row end -->

                    <!-- burgers panel second row start -->
                    <div class="col-6 py-2">
                        <a href="/find/<%= data[1].burgers[i+1].pr_id %>">
                            <div class="text-center itemCard" name="<%=4*(j+1)%>"                                >

                                <img class="my-2 cardImg cardImg<%=i%>"
                                    src="../../products/images/burgers/<%= data[1].burgers[i+1].pr_img %>">

                                <h6 style="height: 20px"><%= data[1].burgers[i+1].pr_name %></h6>
                                <p class="text-muted" style="font-size: 12px; height: 30px">
                                    <%= data[1].burgers[i+1].pr_info %></p>
                                <p> <strong>Price: </strong>₹<%= data[1].burgers[i+1].pr_price%> </p>

                            </div>
                        </a>
                    </div>
                    <!-- Burgers panel second row end -->
                </div>
            </span>
            <%}%>    
    </div>
    <!-- Burgers panel end-->
    </div>   

    <!-- Beverages start -->    
    <div class="beverages mt-3">
        <h4 class="text-center">
            <img src="../../images/bvgIcon.png" class="img-fluid" style="width: 30px;">
            <span class="heading">Cool Beverages</span>
        </h4>
        <!-- beverages Heading END -->

        <!-- beverages panel start -->
        <div class="row">
            <% for(let i = 0,j=5; i <= 3; i+=2,j+=2) {%>
            <span class="text-center col-lg-6">
                <!-- beverages panel first row start -->
                <div class="row">
                    <div class="col-6 py-2">
                        <a href="/find/<%= data[2].beverages[i].pr_id %>">
                            <div class="text-center itemCard" name="<%=4*(j)%>"                                >

                                <img class="my-2 cardImg cardImg<%=i%>"
                                    src="../../products/images/beverages/<%= data[2].beverages[i].pr_img %>">

                                <h6 style="height: 20px"><%= data[2].beverages[i].pr_name %></h6>
                                <p class="text-muted" style="font-size: 12px; height: 40px">
                                    <%= data[2].beverages[i].pr_info %>
                                </p>
                                <p> <strong>Price: </strong>₹<%= data[2].beverages[i].pr_price%> </p>
                            </div>
                        </a>
                    </div>
                    <!-- Beverages panel first row end -->

                    <!-- Beverages panel second row start -->
                    <div class="col-6 py-2">
                        <a href="/find/<%= data[2].beverages[i+1].pr_id %>">
                            <div class="text-center itemCard" name="<%=4*(j+1)%>"                                >

                                <img class="my-2 cardImg cardImg<%=i%>"
                                    src="../../products/images/beverages/<%= data[2].beverages[i+1].pr_img %>">

                                <h6 style="height: 20px"><%= data[2].beverages[i+1].pr_name %></h6>
                                <p class="text-muted" style="font-size: 12px; height: 40px">
                                    <%= data[2].beverages[i+1].pr_info %></p>
                                <p> <strong>Price: </strong>₹<%= data[2].beverages[i+1].pr_price%> </p>
                            </div>
                        </a>
                    </div>
                    <!-- beverages panel second row end -->
                </div>
            </span>
            <%}%>    
    </div>
    <!-- beverages panel end -->
    </div> 
</div>