<% 
let path = "../../products/images/" + itemDoc.pr_cat + "/" + itemDoc.item.pr_img;
let path1,path2;
if(itemDoc.pr_cat == 'pizza'){    
    path1 = "../../products/images/burgers/" + itemDoc.recommended[0].pr_img;
    path2 = "../../products/images/beverages/" + itemDoc.recommended[1].pr_img;    
}else if(itemDoc.pr_cat == 'burgers'){
    path1 = "../../products/images/pizza/" + itemDoc.recommended[0].pr_img;
    path2 = "../../products/images/beverages/" + itemDoc.recommended[1].pr_img;
}else if(itemDoc.pr_cat == 'beverages'){
    path1 = "../../products/images/pizza/" + itemDoc.recommended[0].pr_img;
    path2 = "../../products/images/burgers/" + itemDoc.recommended[1].pr_img;
}

let itemTitle = itemDoc.item.pr_name;
let itemInfo = itemDoc.item.pr_info;

let pzaReg = itemDoc.item.pr_price.size_reg;
let pzaMed = itemDoc.item.pr_price.size_med;
let pzaLrg = itemDoc.item.pr_price.size_lrg;
let itemPrice = itemDoc.item.pr_price;

let type1 = typeof itemDoc.recommended[0].pr_price;
let type2 = typeof itemDoc.recommended[1].pr_price;
%>

<div class="container">
    <!-- A row for item image and its features -->
    <div class="row justify-content-center mt-3">
        <!-- Item image -->
        <div class="col-md-6 pb-3 text-center border-left border-right border-bottom itemBox">
            <img class="my-2 itemImg" src="<%= path %>">
            <!-- Item features -->
            <h4 style="height: 30px"><%= itemTitle %></h4>
            <p class="text-muted" style="font-size: 12px;"><%= itemInfo %></p>
            <% if(itemDoc.pr_cat == 'pizza'){ %>
            <div class="row">
                <div class="col-4">
                    <button class="btn btn-outline-warning active" id="reg" onclick="activate('reg','med','lrg')">
                        Reg: ₹<%= pzaReg %>
                    </button>
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-warning" id="med" onclick="activate('med','reg','lrg')">
                        Med: ₹<%= pzaMed %>
                    </button>
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-warning" id="lrg" onclick="activate('lrg','reg','med')">
                        Lrg: ₹<%= pzaLrg %>
                    </button>
                </div>
            </div>
            <% } else {%>
            <p> <strong>Price: </strong>₹<%= itemPrice %> </p>
            <% }%>
        </div>

        <!-- Recommended items -->
        
    </div>
</div>