<%
let imgPath = [];
let cartTotal = 0;
let category = [];
for(let i=0;i<=cart.length - 1; i++){
    let id = cart[i].id.split('0')[0];
    if(id =='pza')
        category.push('pizza');
    else if(id == 'bgr')
        category.push('burgers');
    else if(id == 'bvg')
        category.push('beverages');
}
for(let i=0;i<=cart.length -1 ; i++)
    imgPath.push("../../products/images/" + category[i] + "/" + cart[i].img);

for(let i=0;i<=cart.length -1 ; i++)
    cartTotal += parseInt(cart[i].price);
%>

<div class="container">
    <!-- Cart items -->
    <!-- Full screen row -->
    <div class="row">
        <div class="col-md-9">
            <h4 class="text-center mt-3">
                <img src="../../images/itemsInYourCart.png" class="img-fluid" style="width: 30px;">
                <span class="heading">Items in your Cart</span>
            </h4>
            <div class="row justify-content-center">
                <!-- Complete item group in middle -->
                <div class="col-md-9">
                    <% for(let i=0;i <= cart.length - 1;i++){ %>
                    <!-- Individual item row start -->
                    <a href="/find/<%= cart[i].id %>" style="text-decoration: none; color: black;">
                        <div class="row border my-3 bg-white">
                            <div class="col-4 border-right imgDiv text-center">
                                <img src="<%= imgPath[i] %>" alt="No-img" class="img-fluid cartItemImg">
                            </div>
                            <div class="col-8 mt-3">
                                <div>
                                    <h6> <%= (cart[i].name).toUpperCase() %> </h6>
                                    <p class="para"> <%= cart[i].info %> </p>
                                    <p class="d-inline"> <strong>Price: </strong>₹<%= cart[i].price %> </p>
                                    <span class="float-right" onclick="deleteCartItem(this)" id="<%= cart[i].id %>" price="<%= cart[i].price%>"">
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- Individual item row end -->
                    <% }%>
                </div>
            </div>
        </div>

        <!-- Col for bill -->
        <div class="col-md-3">
            <table class="table">
                <tr>
                    <h4 class="text-center mt-3">
                        <img src="../../images/rupee.jpg" class="img-fluid" style="width: 30px;">
                        <span class="heading">Account Summary</span>
                    </h4>
                </tr>
                <% for(let i = 0; i<=cart.length - 1;i++) {%>
                <tr>
                    <td>
                        Item <%=i+1%>
                    </td>
                    <td>
                        ₹<%=cart[i].price%>
                    </td>
                </tr>
                <%}%>
                <tr>
                    <td>
                        <strong>Your Total</strong>
                    </td>
                    <td>
                            ₹<%=cartTotal%>
                </td>
                </tr>
                <tr class="w-100">
                    <td colspan="3">
                        <a class="btn btn-lg btn-warning text-light w-100" href="/checkout">
                            Proceed to Checkout <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </td>
                </tr>
                <tr class="w-100">
                    <td colspan="3" id="warningPlaceOrder"></td>
                </tr>
            </table>
        </div>
    </div>
</div>